@model MPGTracker.Models.MPG

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>MPG</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.GallonsPurchased)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.GallonsPurchased)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.MilesTraveled)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.MilesTraveled)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.DateOfFillUp)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.DateOfFillUp)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.CarId)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CarId)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
