@model IEnumerable<MPGTracker.Models.MPG>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            <label>Gallons Purchased</label>
        </th>
        <th>
            <label>Miles Traveled</label>
        </th>
        <th>
            <label>Date of Fill Up</label>
        </th>
        <th>
            Owner
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.GallonsPurchased)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MilesTraveled)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DateOfFillUp)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Car.Owner)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
