<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>@ViewBag.Title - Car Maintenance</title>
        <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
        <meta name="viewport" content="width=device-width" />
        @Styles.Render("~/Content/css")
        @Scripts.Render("~/bundles/modernizr")
        <link rel="stylesheet" src="/content/jquery-ui-1.10.3.custom.css"/>
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    </head>
    <body>
          <div class="row-fluid">
                <div class="span8 offset2">
                    <div class="navbar">
                        <div class="navbar-inner">
                            <a href="/" class="brand">Garage Tracker</a>
                            <div class="container">
                                <a class="btn btn-navbar" data-toggle="collapse" data-target=".navbar-responsive-collapse">
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                </a>
                                <div class="nav-collapse collapse navbar-responsive-collapse">
                                    <ul class="nav">
                                        <li id="Home"><a href="/">Home</a></li>
                                        <li id="About"><a href="/oilchange/index">Oil Changes</a></li>
                                        <li id="Resume"><a href="/mpg/index">MPG</a></li>
                                        <li id="Contact"><a href="/vehicles/index">Vehicles</a></li>
                                    </ul>
                                    <ul class="nav pull-right">
                                        @Html.Partial("_LoginPartial")
                                    </ul>
                                </div><!-- /.nav-collapse -->
                            </div>
                        </div><!-- /navbar-inner -->
                    </div>
                </div>
            </div>
        <div id="body">
            @RenderSection("featured", required: false)
            <div class="container">
                <div class="row-fluid">
                    <div class="span10 offset1">
                        @RenderBody()
                    </div>
                </div>
            </div>
        </div>
        
         <div class="container navbar-fixed-bottom">
                <div class="row-fluid">
                    <div class="span10 offset1">
                       <p>&copy; @DateTime.Now.Year - Maintenance Tracker</p>
                    </div>
                </div>
            </div>
       

        @Scripts.Render("~/bundles/jquery")
        <script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
        @RenderSection("scripts", required: false)
        <script>
            if (navigator.userAgent.match(/IEMobile\/10\.0/)) {
                var msViewportStyle = document.createElement("style");
                msViewportStyle.appendChild(
                    document.createTextNode(
                        "@@-ms-viewport{width:auto!important}"
        )
    );
    document.getElementsByTagName("head")[0].
        appendChild(msViewportStyle);
}
        </script>
    </body>
</html>
